<div class="container">
  <h1>List of Users</h1>
  <%= link_to 'New User', new_user_path, class: 'btn btn-info' %></td>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Created At</th>
        <th>Uptaded At</th>
        <th>Messages Count</th>

      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= user.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= user.messages.count %> </td>
          <td><%= link_to 'Show', user_path(user), class: 'btn btn-info' %></td>
          <% if can? :edit, user %>
            <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info' %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>