<div class="container">
  <h1>List of Chats</h1>
  <%= link_to 'New Chat', new_chat_path, class: 'btn btn-info' %></td>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Other User</th>
        <th>Sender ID</th>
        <th>Receiver ID</th>
        <th>Created At</th>
        <th>Uptaded At</th>
      </tr>
    </thead>

    <tbody>
      <% @chats.each do |chat| %>
        <tr>
          <td><%= chat.id %></td>
          <td><%= chat.other_participant(current_user).full_name %></td>
          <td><%= chat.sender_id %></td>
          <td><%= chat.receiver_id %></td>
          <td><%= chat.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= chat.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to 'Show', chat_path(chat), class: 'btn btn-info' %></td>
          <% if can? :edit, chat %>
            <td><%= link_to 'Edit', edit_chat_path(chat), class: 'btn btn-info' %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>