<div class="container">
  <h1>Chat Details</h1>
</div>
<div class="container">
  <div class="card">
      <div class="card-header">
          <strong>Chat ID: <%=@chat.id %></strong>
      </div>
    <div class="card-body">
      <ul>
          <li><strong>Sender ID: </strong><%= @chat.sender_id %></li>
          <li><strong>Receiver ID: </strong><%= @chat.receiver_id %></li>
          <li><strong>Created At: </strong><%= @chat.created_at %></li>
          <li><strong>Updated At: </strong><%= @chat.updated_at %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container"
  <div class="mt-4">
    <% if can? :edit, @chat %>
      <%= link_to 'Edit', edit_chat_path(@chat), class: 'btn btn-info' %>
    <% end %>
    <%= link_to 'Back', chats_path, class: 'btn btn-danger' %>
    <%= link_to 'New Chat', new_chat_path, class: 'btn btn-success' %>

  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Chat between: #User <%= @chat.sender.id %> and #User <%= @chat.receiver.id %></h2>
    </div>
    <div class="card-body">
      <% @messages.each do |message| %>
        <p><strong>#User <%= message.user.id %>:</strong> <%= message.body %></p>
      <% end %>
    </div>   
  </div>      
</div>